@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
  @apply flex justify-center items-center;
}

.flex-flex {
  @apply flex flex-col md:flex-row;
}

.show {
  @apply border-2 border-red-600;
}

.show-bg {
  @apply bg-cyan-500;
}

@layer components {
  .wrapper {
    @apply max-w-[75rem] mx-auto w-[90%];
  }

  .max-len {
    max-width: 26rem;
  }

  .ml-sm {
    margin-left: 5%;
  }

  .ml-lg {
    margin-left: 7%;
  }

  .ml {
    @apply ml-sm lg:ml-lg;
  }

  .px {
    @apply px-24;
  }

  .px-sm {
    @apply px-10;
  }

  .gradient {
    @apply bg-gradient-to-bl from-blue via-pink  to-orange;
  }

  .switcher {
    background-color: #dfdfdf;
    height: 1.3rem;
    width: 2.6rem;
    border-radius: 8rem;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  .switcher__circle {
    border-radius: 50%;
    background-color: black;
    aspect-ratio: 1/1;
    margin-left: 2px;
    height: 80%;
    transition: 0.3s ease-in-out;
  }

  .dark {
    background-color: white;
    transform: translateX(125%);
  }

  .dark-bg {
    background-color: black;
  }

  .card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: 1s ease-in-out;
    transform-style: preserve-3d;
  }

  .card-container.flip > .card {
    transform: rotateY(180deg);
  }

  .card-container.backflip > .card {
    transform: rotateY(-180deg);
  }

  .front,
  .back {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
  }

  td {
    height: 70px;
    border-bottom: 1px solid #dfdfdf;
    text-align: center;
  }

  th {
    text-align: center;
  }

  .back {
    transform: rotateY(-180deg);
  }
}
