@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
  @apply flex justify-center items-center;
}

.flex-flex {
  @apply flex flex-col md:flex-row;
}

.show {
  @apply border-2 border-red-600;
}

.show-bg {
  @apply bg-cyan-500;
}

@layer components {
  .wrapper {
    @apply max-w-[75rem] mx-auto w-[90%];
  }

  .max-len {
    max-width: 26rem;
  }

  .ml-sm {
    margin-left: 5%;
  }

  .ml-lg {
    margin-left: 7%;
  }

  .ml {
    @apply ml-sm lg:ml-lg;
  }

  .px {
    @apply px-24;
  }

  .px-sm {
    @apply px-10;
  }
}
